<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <appSettings>
    <add key="baseAddress" value="http://localhost:8080/TaxAppClientWCFService"/>
    <add key="AsyncBaseAddress" value="net.tcp://localhost:11221/TACAsyncService" />
    <add key="Main.ConnectionString" value="data source=cr-dtdv-a01;initial catalog=SampleAppTaxData;integrated security=SSPI;persist security info=False;packet size=4096" />
    <add key="Main.ConnectionStringForDesignDatabase" value="data source=cr-dtdv-a01;initial catalog=Training1065Backup;integrated security=SSPI;persist security info=False;packet size=4096" />
    <add key="ApplicationBinaryDirectory" value="C:\TFS Development\AppClient\TaxAppClient.WCFServiceHost"/>
  </appSettings>

  <system.serviceModel>
    <services>
      <service name="TaxAppClient.WCFService.TaxAppClientService"
               behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint address="mex"
                  contract="TaxAppClient.WCFService.ITaxAppClientService"
                  binding="mexHttpBinding"/>
      </service>

      <service name="TaxAppClient.WCFService.TaxAppClientServiceMTOM"
               behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint address="mex"
                  contract="TaxAppClient.WCFService.ITaxAppClientServiceMTOM"
                  binding="basicHttpBinding"
                  />
      </service>

      <service name="TaxAppClient.WCFService.TaxAppClientAsyncService"
               behaviorConfiguration="MyServiceTypeBehaviors2">
        <endpoint address="mex"
                  contract="TaxAppClient.WCFService.ITaxAppClientAsyncService"
                  binding="netTcpBinding"
                  bindingConfiguration="DuplexBinding"
                  />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceTypeBehaviors" >
          <!-- Add the following element to your service behavior configuration. -->
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="MyServiceTypeBehaviors2" >
          <!-- Add the following element to your service behavior configuration. -->
          <serviceMetadata httpGetEnabled="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <netTcpBinding>
        <binding name="DuplexBinding" sendTimeout="00:00:01">
          <reliableSession enabled="true" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>


  <log4net>
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <!-- Pattern to output the caller's file name and line number -->
        <!--<conversionPattern value="%5level [%thread] (%file:%line) - %message%newline" />-->
        <!--<conversionPattern value="%5level [%thread] %logger - %message%newline" /> -->
        <conversionPattern value="[%5level] [%thread] [%logger:%line] %message%newline" />
      </layout>
    </appender>

    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="WCFServiceHost.txt" />
      <appendToFile value="true" />
      <maximumFileSize value="100KB" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="2" />

      <layout type="log4net.Layout.PatternLayout">
        <header value="[LOG BEGIN %date]%newline" type="log4net.Util.PatternString" />
        <conversionPattern value="%5level [%thread] %logger:(%file:%line) - %message%newline" />
        <footer value="[LOG END %date]%newline" type="log4net.Util.PatternString" />
      </layout>
    </appender>

    <root>
      <level value="DEBUG" />
      <appender-ref ref="Console" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>

</configuration>